{% extends 'portfolio/base.html' %} {% block content %} {% load static %}

<br /><br /><br /><br />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-jjJahBnqjzQ+uYGBmzlVFDXaGel9KnA12wn6Rv97mo+SRPAyWmHmjYx5OG/EZB6XtTkC51LfDg3cNmZEaF0FZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container">
  <div class="row justify-content-center mt-5" style="padding-top: 10px">
    <div
      class="col-md-8 order-md-2 d-flex flex-column justify-content-center align-items-center text-center"
    >
      <h1 class="font-weight-bold mb-3" style="font-size: 58px">Hey!😁</h1>
      <h2 class="font-weight-bold mb-4" style="font-size: 58px">
        I'm <span id="typed-text"></span><span class="cursor"></span>
      </h2>
      <div class="summary mb-4">
        <span style="font-size: 28px">2+ Years of Experience</span>
        <span class="ml-3 mr-3" style="font-size: 28px">|</span>
        <span style="font-size: 28px">10+ Projects</span>
      </div>
      <div class="social-icons mt-3">
        <a href="https://www.linkedin.com/in/santhosh-pattamudu-manoharan/" class="social-icon">
          <i class="bi bi-linkedin"></i> 
        </a>
        
        <a href="https://github.com/santhosh1299" class="social-icon">
          <i class="bi bi-github"></i>
        </a>
        <a href="mailto:santhoshmanoharan.edu@gmail.com"><i class="bi bi-envelope"></i></a>
      </div>
    </div>
    <style>
       .social-icons {
    margin-top: 10px;
  }

  .social-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #333; /* Change color as needed */
    transition: color 0.3s ease; /* Add transition for smooth color change */
    
  }

  .social-icon:hover {
    color: #007bff; /* Change color on hover */
  }
    </style>
    <div class="col-md-4 order-md-1 text-center">
      <!-- Modified col-md-6 -->
      <img
        class="img-fluid rounded-circle mb-4"
        src="{% static 'portfolio/santhosh_pic.PNG' %}"
        alt="Santhosh"
        width="290"
        height="308"
      />
    </div>
  </div>
  <!-- <div class="row mt-5">
    <div class="col-md-6">
      <div class="education border p-3">
        <h2 class="text-center mb-4">
          <i class="fas fa-graduation-cap"></i> Education
        </h2>
        <div class="education-item">
          <h3>Master of Science in Data Science</h3>
          <p>University of Colorado Boulder, Aug 2023 - May 2025</p>
        </div>
        <div class="education-item">
          <h3>Bachelors in Computer Science</h3>
          <p>Anna University, Aug 2017 - May 2021</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="work-experience border p-3">
        <h2 class="text-center mb-4">
          <i class="fas fa-briefcase"></i> Work Experience
        </h2>
        <div class="work-item">
          <h3>Data Scientist</h3>
          <p>
            Virtusa Consulting Services Private Limited, Sep 2021 – Jun 2023
          </p>
          <p>Description of work</p>
        </div>
        <div class="work-item">
          <h3>ML Intern</h3>
          <p>Larson and Toubro Valves Limited, May 2021 – Aug 2021</p>
          <p>Description of work</p>
        </div>
      </div>
    </div>
  </div> -->
</div>

<br /><br /><br /><br /><br />
<style>
  #full-width-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
  }

  #full-width-img {
    transition: opacity 0.3s ease; /* Apply smooth transition to the opacity property */
  }
</style>

<img
  src="{% static 'portfolio/mountain_crop.jpeg' %}"
  alt="Full Width Image"
  id="full-width-img"
/>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const img = document.getElementById("full-width-img");

    window.addEventListener("scroll", function () {
      const scrollTop =
        window.pageYOffset || document.documentElement.scrollTop;
      const opacity = 1 - scrollTop / window.innerHeight; // Calculate opacity based on scroll position

      img.style.opacity = opacity; // Apply the opacity to the image
    });
  });
</script>

<style>
  .col-md-6 {
    background: linear-gradient(
      to top,
      rgba(46, 45, 45, 0.163),
      rgba(150, 211, 237, 0.409)
    );
    border-radius: 15px;
    margin-bottom: 20px;
    /* Add padding */
    padding: 25px;
    box-sizing: border-box; /* Include padding in the width calculation */
  }

  .academics-column {
    margin-bottom: 20px;
    /* Add margin to the right */
  }

  .experience-column {
    margin-bottom: 20px;
    margin-left: 10px; /* Add margin to the left */
  }

  @media (min-width: 992px) {
    .col-md-6 {
      width: calc(
        50% - 20px
      ); /* Set width of each column with padding and margin */
    }
  }
</style>

<div class="container">
  <!-- <div class="row justify-content-center mt-5" style="padding-top: 10px"> -->
  <!-- <div
      class="col-md-8 order-md-2 d-flex flex-column justify-content-center align-items-center text-center"
    > -->
  <br /><br /><br /><br /><br />
  <!-- <div class="row  mt-5" style="padding-top: 10px"> -->
  <div class="col-md-12 d-flex justify-content-between">
    <div class="col-md-6 academics-column">
      <h2 class="text-center mb-4">
        <i class="fas fa-graduation-cap"></i> Academics
      </h2>
      <div class="timeline">
        <div class="timeline-item">
          <div class="timeline-content">
            <h3>Master of Science in Data Science</h3>
            <p>
              <strong>University of Colorado Boulder</strong>, Aug 2023 - May
              2025
            </p>
            <ul>
              <li>Statistics Techniques and Application 1 and 2</li>
              <li>AI Ethics</li>
              <li>Data Mining</li>
              <li>Machine Learning</li>
              <li>Geospatial Analytics</li>
            </ul>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-content">
            <h3>Bachelors in Computer Science</h3>
            <p><strong>Anna University</strong>, Aug 2017 - May 2021</p>
            <ul>
              <li>Design Analysis and Algorithms</li>
              <li>Object Oriented Programming</li>
              <li>Data Analytics</li>
              <li>Database Management Systems</li>
              <li>Artificial Intelligence Foundations</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 experience-column">
      <h2 class="text-center mb-4">
        <i class="fas fa-briefcase"></i> Professional Experience
      </h2>
      <div class="timeline">
        <div class="timeline-item">
          <div class="timeline-content">
            <h3>Data Scientist</h3>
            <p>
              <strong> Virtusa Consulting Services Pvt Ltd</strong>, Sep 2021 –
              Jun 2023
            </p>

            <ul>
              <li>
                Led AI/ML projects across diverse domains, enhancing outputs and
                accuracy.
              </li>
              <li>
                Utilized cloud services and custom models for comprehensive
                reports and streamlined operations.
              </li>
              <li>
                Implemented cutting-edge anomaly detection methods for data
                integrity and efficiency.
              </li>
              <li>
                Developed APIs for seamless model deployment, driving user
                interaction and business growth.
              </li>
              <li>
                Provided exceptional customer service, delivering tailored
                solutions for optimal outcomes.
              </li>
            </ul>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-content">
            <h3>ML Intern</h3>
            <p>
              <strong>Larson and Toubro Valves Ltd</strong>, May 2021 – Aug 2021
            </p>
            <ul>
              <li>
                Transformed 4 ML research papers into functional code,
                pioneering an automated document data capture solution with
                PyTorch and OpenCV 3.
              </li>
              <li>
                Achieved over an 80% reduction in data entry time, optimizing
                data processing workflows for unparalleled efficiency.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="skillbox mt-5"> -->

  <h2 class="text-center mb-4">Why Hire Me?</h2>
  <!-- Add a new row for the skills section -->
  <div class="col-md-12 d-flex justify-content-between">
    <div class="col-md-6" style="margin-right: 5px">
      <div class="skill-category">
        <h3>Programming Languages:</h3>
        <ul class="skill-list">
          <li class="skill-item">Python</li>
          <li class="skill-item">SQL</li>
          <li class="skill-item">R</li>
          <li class="skill-item">Java</li>
          <li class="skill-item">C</li>
          <li class="skill-item">C++</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6" style="margin-left: 5px">
      <div class="skill-category">
        <h3>Data Science:</h3>
        <ul class="skill-list">
          <li class="skill-item">Data Analysis</li>
          <li class="skill-item">Machine Learning</li>
          <li class="skill-item">Big Data</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-12 d-flex justify-content-between">
    <div class="col-md-6" style="margin-right: 5px">
      <div class="skill-category">
        <h3>Cloud:</h3>
        <ul class="skill-list">
          <li class="skill-item">AWS - Sagemaker, Lambda, EC2</li>
          <li class="skill-item">Azure - Form Recognizer</li>
          <li class="skill-item">Google Cloud - Compute</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6" style="margin-left: 5px">
      <div class="skill-category">
        <h3>Statistics:</h3>
        <ul class="skill-list">
          <li class="skill-item">Hypothesis Testing</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-12 d-flex justify-content-between">
    <div class="col-md-6" style="margin-right: 5px">
      <div class="skill-category">
        <h3>Other Skills:</h3>
        <ul class="skill-list">
          <li class="skill-item">Docker CI/CD pipeline</li>
          <li class="skill-item">Web Development - Django, Flask</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6" style="margin-left: 5px">
      <div class="skill-category">
        <h3>Soft Skills:</h3>
        <ul class="skill-list">
          <li class="skill-item">Complexity Analysis</li>
          <li class="skill-item">Troubleshooting</li>
          <li class="skill-item">Communication</li>
          <li class="skill-item">Documentation</li>
        </ul>
      </div>
    </div>
  </div>

  <br /><br /><br />
  <!-- <style>
    .image-container {
      text-align: center;
      position: relative;
    }
    .image-container img {
      max-width: 100%;
      max-height: 70vh;
      display: block;
      margin: 0 auto; /* Center image horizontally */
    }
    .card-container {
      text-align: center;
      position: absolute;
      bottom: 20px; /* Position card container at the bottom */
      width: 100%;
    }
    .card {
      background-color: rgba(0, 0, 0, 0.5); /* Transparent background color */
      color: #fff;
      border-radius: 5px;
      padding: 10px;
      max-width: 40%; /* Set maximum width to fit within image */
      margin: 0 auto; /* Center card horizontally */
      opacity: 0;
      transition: opacity 0.5s ease;
    }
    .active {
      opacity: 1;
    }
  </style>
  

  <div class="image-container">
    <img src="{% static 'portfolio/sanpic_1.jpeg' %}" alt="Full Width Image">
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <div class="col-md-12 d-flex justify-content-between">
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="highlight">
          <h3>Experienced in Conveying Technical Insights in Layman's Terms for Business Decision-Making</h3>
        </div>
      </div>
      <div class="item">
        <div class="highlight">
          <h3>Comprehensive and meticulous documentation of all tasks and projects undertaken</h3>
        </div>
      </div>
      <div class="item">
        <div class="highlight">
          <h3>Dedicated and steadfast, always delivering on promises with unwavering commitment</h3>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $(".owl-carousel").owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        dots:true,
        autoplay:true,
        autoplayTimeout:3000,
        autoplayHoverPause:true,
        items:1
      });
    });
  </script>
<style>
  .owl-carousel {
    margin-top: 20px;
  }

  .owl-carousel .owl-item {
    padding: 0 10px;
  }

  .highlight {
    background: linear-gradient(to right, rgba(46, 45, 45, 0.163), rgba(150, 211, 237, 0.409));
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center;
    font-family: 'Courier New', Courier, monospace; /* Use Courier New font */
  }

  .highlight h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    font-style: italic; /* Apply italic style for quotes */
  }

  .highlight p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    font-style: italic; /* Apply italic style for quotes */
  }
</style>


       -->

       <style>
        /* Add your custom styles here */
        .owl-carousel {
            margin-top: 20px;
        }

        .owl-carousel .owl-item {
            padding: 0 10px;
        }

        .highlight {
            background: linear-gradient(to right, rgba(46, 45, 45, 0.163), rgba(150, 211, 237, 0.409));
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            color: #333;
            text-align: center;
            font-family: 'Courier New', Courier, monospace; /* Use Courier New font */
        }

        .highlight h3 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #333;
            font-style: italic; /* Apply italic style for quotes */
        }

        .highlight p {
            font-size: 18px;
            line-height: 1.6;
            color: #555;
            font-style: italic; /* Apply italic style for quotes */
        }

        .image-container {
            position: relative;
            text-align: center;
            max-height: 70vh; /* Limit the maximum height */
            overflow: hidden; /* Hide overflow content */
        }

        .image-container img {
            max-width: 100%;
            height: auto;
            transition: transform 0.5s ease; /* Add smooth transition */
        }

        .image-overlay {
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            opacity: 0; /* Initially hidden */
            transition: opacity 0.5s ease; /* Add smooth transition */
        }

        .image-container:hover .image-overlay {
            opacity: 1; /* Show overlay on hover */
        }

        .overlay-content {
            color: white;
            
        }
    </style>
</head>
<body>

<!-- Image Section -->
<div class="image-container">
    <img src="{% static 'portfolio/sanpic_1.jpeg' %}" alt="Full Width Image">
    <div class="image-overlay" >
        <div class="overlay-content">
            <h2 style="font-size: 55px;" ><strong>Explore My Highlights</strong></h2>
            
        </div>
    </div>
</div>

<!-- Highlights Section -->
<div class="container">
    <div class="col-md-12 d-flex justify-content-between">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="highlight">
                    <h3>Experienced in Conveying Technical Insights in Layman's Terms for Business Decision-Making</h3>
                    <!-- <p>Your description goes here...</p> -->
                </div>
            </div>
            <div class="item">
                <div class="highlight">
                    <h3>Comprehensive and meticulous documentation of all tasks and projects undertaken</h3>
                    <!-- <p>Your description goes here...</p> -->
                </div>
            </div>
            <div class="item">
                <div class="highlight">
                    <h3>Dedicated and steadfast, always delivering on promises with unwavering commitment</h3>
                    <!-- <p>Your description goes here...</p> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add jQuery and Owl Carousel JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script>
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
            loop:true,
            margin:10,
            nav:false,
            dots:true,
            autoplay:true,
            autoplayTimeout:3000,
            autoplayHoverPause:true,
            items:1
        });
    });
</script>
    <br /><br />

    <h2 class="mt-5 text-center">Portfolio</h2>
    <hr />
    <div class="container">
      <div class="col-md-12 d-flex justify-content-between">
        {% for project in projects %}
        <div
          class="col-lg-4 col-md-4 mb-4"
          style="
            background: linear-gradient(
              to top,
              rgba(46, 45, 45, 0.163),
              rgba(150, 211, 237, 0.409)
            );
            border-radius: 15px;
            margin-bottom: 20px;
            margin: 0 5px;
            padding: 25px;
            box-sizing: border-box;
          "
        >
          {% if project.url %}
          <a href="{{ project.url }}">
            <img
              src="{{ project.image.url }}"
              class="img-fluid rounded custom-image"
              alt="Project Image"
            />
          </a>
          {% else %}
          <img
            src="{{ project.image.url }}"
            class="img-fluid rounded"
            alt="Project Image"
          />
          {% endif %}
          <h3 class="mt-3">{{project.title}}</h3>
          <p style="text-align: justify">{{ project.description }}</p>
        </div>
        {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="col-md-12 d-flex justify-content-between">
        {% endif %} {% endfor %}
      </div>
    </div>
    

    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f8f9fa;
        color: #333;
      }

      .cursor {
        border-left: 2px solid #000;
        animation: blink 0.7s infinite;
      }

      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }

      .summary span {
        font-size: 16px;
        font-weight: 500;
        color: #555;
      }

      .skill-category {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        transition: transform 0.3s, box-shadow 0.3s;
      }

      .skill-category:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      .skill-category h3 {
        color: #333;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
      }

      .skill-list {
        list-style-type: none;
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
      }

      .skill-item {
        padding: 15px;
        border-radius: 10px;
        background-color: #f8f9fa;
        border: 1px solid #ccc;
        transition: background-color 0.3s;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: #555;
      }

      .skill-item:hover {
        background-color: #e9ecef;
      }

      .custom-image {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s;
      }

      .custom-image:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      hr {
        border-color: #ddd;
        margin-top: 40px;
      }
      .timeline {
        position: relative;
        padding: 0;
      }

      .timeline-item {
        display: flex;
        margin-bottom: 30px;
      }

      .timeline-content {
        background-color: #f8f9fa; /* Change to match the background color of the homepage */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        position: relative;
        z-index: 1;
        width: 100%;
        overflow-x: hidden;
      }
      .timeline-item:nth-child(even) .timeline-content {
        order: -1;
      }

      .timeline-content h3 {
        color: #333;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
      }

      .timeline-content p {
        margin-bottom: 10px;
      }

      .timeline-item::before {
        content: "";
        position: absolute;
        left: 50%;
        width: 2px;
        height: 100%;
        background-color: #ccc;
        z-index: 0; /* Added */
      }

      .timeline-item:first-child::before {
        top: 0;
      }

      .timeline-item:last-child::before {
        bottom: 0;
      }

      .timeline-item::after {
        content: "";
        position: absolute;
        left: 50%;
        top: calc(50% - 4px);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #ccc;
        transform: translateX(-50%);
        z-index: 2; /* Added */
      }

      @media (max-width: 767px) {
        .timeline-item {
          flex-direction: column;
        }
      }
    </style>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var phrases = [
          "SANTHOSH",
          "DATA SCIENTIST",
          "DATA ANALYST",
          "ML ENGINEER",
        ];
        var typedTextElement = document.getElementById("typed-text");
        var cursorElement = document.querySelector(".cursor");
        var currentPhraseIndex = 0;
        var currentCharIndex = 0;
        var isTyping = true;

        function typeText() {
          var currentPhrase = phrases[currentPhraseIndex];

          if (isTyping) {
            if (currentCharIndex < currentPhrase.length) {
              typedTextElement.textContent +=
                currentPhrase.charAt(currentCharIndex);
              currentCharIndex++;
              setTimeout(typeText, 120); // Adjust the typing speed by changing the timeout value
            } else {
              isTyping = false;
              setTimeout(eraseText, 800); // Wait for 1 second before erasing
            }
          } else {
            if (currentCharIndex > 0) {
              typedTextElement.textContent = currentPhrase.substring(
                0,
                currentCharIndex - 1
              );
              currentCharIndex--;
              setTimeout(eraseText, 100); // Adjust the erasing speed by changing the timeout value
            } else {
              isTyping = true;
              currentPhraseIndex = (currentPhraseIndex + 1) % phrases.length;
              setTimeout(typeText, 400); // Wait for 0.5 second before typing next phrase
            }
          }
        }

        function eraseText() {
          typeText();
        }

        typeText();
      });
    </script>
    {% endblock %}
  </div>
</div>
