{%extends 'portfolio/base.html'%}

{%block content%}
{% load static %}
<div class="row justify-content-center my-3">
<div>
    <img class="img-fluid" src="{% static 'portfolio\sanmain.jpeg' %}" height="350" width="350">
</div>
</div>

<div class="row justify-content-center mb-3">
    <div class="col-md-9 text-center">
        <h1 id="hometext" class="font-weight-bold">☝ <br> Hey!😁 <br /> I'm SANTHOSH <br>👇 </h1>
    </div>
</div>
<header class="row justify-content-center my-3">

    <div class="fullscreen-video-wrap">
        <video src="{% static 'portfolio\blazzer.mp4' %}" autoplay="true" \
        loop="true"></video>
    </div>

</header>

<h2 class="mt-5">Portfolio</h2>
<hr>
<div class="row">
{% for  project in projects  %}
<div class="col-lg-4 col-md-6">
    
    

    {%if project.url %}
    
    <a href="{{ project.url }}">
        <img src="{{ project.image.url }}" class="img-fluid mb-2 rounded">
    </a>
    {% else %}
    <img src="{{ project.image.url }}" class="img-fluid mb-2 rounded">
    {% endif %}
    <h2>{{project.title}}</h2>
    <p>{{ project.description }}</p>
</div>
{% endfor %}
</div>
{%endblock%}